.body {
  height: 100vh;
  background-image: url("../backgroundimg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.navbar {
  display: flex;
  box-shadow: 0px 4px 6px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
  background-color: #2977ff;
}

.navtitle {
  margin-left: 2rem;
  margin-right: 60%;
  font-size: 1.5rem;
}

.navbtn {
  all: unset;
  width: 6rem;
  height: 2rem;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}

.welcome {
  font-size: 7rem;
  color: white;
}

h2 {
  font-size: 1.7rem;
  color: navy;
}

.startbtn {
  all: unset;
  border-radius: 2rem;
  margin-top: 4rem;
  height: 3rem;
  width: 40%;
  background-color: #2977ff;
  font-size: 1.5rem;
  box-shadow: 0px 2px 6px 4px rgba(0, 0, 0, 0.2);
}

.content {
  padding: 0 6rem;
}
.contact{
  all: unset;
  display: flex;
  padding-left: 8rem;
}

.contacttitle{
  color:white;
  font-size: 4.5rem;
  margin-top: 10rem;
}


.contactform{
  margin-top: 10rem;
}

.submitbtn {
  all: unset;
  width: 13rem;
  height: 3.5rem;
  margin: 2rem 0 0 57%;
  font-size: 1.2rem;
  box-shadow: 0px 2px 6px 4px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  background-color: #2977ff;
}

