.body {
  height: 100vh;
  background-image: url("../backgroundimg2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
a {
  all: unset;
}
.navbar {
  display: flex;
  box-shadow: 0px 4px 6px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
  background-color: #B38B6D;
}

.navtitle {
  margin-left: 2rem;
  margin-right: 60%;
  font-size: 1.5rem;
}

.navbtn {
  all: unset;
  width: 6rem;
  height: 2rem;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}

.welcome {
  font-size: 7rem;
  color: black;
}

h2 {
  font-size: 1.7rem;
  color: #36454F;
}

.startbtn {
  all: unset;
  border-radius: 2rem;
  margin-top: 4rem;
  height: 3rem;
  width: 40%;
  background-color: #B38B6D;
  font-size: 1.5rem;
  box-shadow: 0px 2px 6px 4px rgba(0, 0, 0, 0.2);
}

.content {
  padding: 0 6rem;
}
.contact{
  all: unset;
  display: flex;
  padding-left: 8rem;
}

.contacttitle{
  color:black;
  font-size: 4.5rem;
  margin-top: 10rem;
}

.quiry{
  color:#36454F;
}

.contactform{
  margin-top: 10rem;
}

.submitbtn {
  all: unset;
  width: 8rem;
  height: 3.5rem;
  margin: 2rem 0 0 59%;
  justify-content: center;
  padding-left: 4rem;
  font-size: 1.2rem;
  box-shadow: 0px 2px 6px 4px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  background-color: #B38B6D;
}

